{% extends 'base.html' %}
{%- set is_sect = 1 -%}
{%- set html_title = '最愛影片' %}
{%- set en_title = 'Favorite Videos' %}
{%- set zh_title = '最愛影片' %}
{%- set jumbotron_class = 'jumbotron-light' -%}

{%- block inner_css %}
    <style type="text/css">
        .movie-clip h4{
            margin-top: 60px;
        }
    </style>
{%- endblock %}

{%- block menu -%}
                <li class="nav-item"><a class="nav-link" href="/flaskblank/">back</a></li>
{%- endblock -%}

{% block content %}
        <div class="section-divider"></div>
        <section>
            <div class="btn-group btn-group-lg" roles="group">
                <a class="btn btn-dark" target="_self" href="/flaskweb/movies/all">All</a>
                {% for act in list_movies -%}
                <a class="btn btn-primary" target="_self" href="/flaskweb/movies/{{ act.act_id }}">{{ act.act_name.split()[0]}}</a>
                {% endfor %}
            </div>
            <hr>
            {% for act in list_movies -%}
                {%- if act_id == act.act_id %}
            <h2 class="text-center text-primary mt-5">{{ act.act_name }}</h2>
                {%- endif -%}
                {%- if act_id == act.act_id or act_id == 'all' %}
            <div class="row">
                    {%- for movie_year, youtube_id, movie_name in act.movies %}
                <div class="col-lg-6 movie-clip">
                    
                    <h4>{{ movie_name }}<small class="text-info">{{ movie_year }}</small></h4>
                    <div class="embed-reponsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ youtube_id }}"
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                    {%- endfor %}
            </div>
                {%- endif -%}
            {% endfor %}
        </section>
{% endblock %}
