async-generator==1.10
attrs==21.2.0
beautifulsoup4==4.10.0
CacheControl==0.12.10
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cryptography==36.0.0
dnspython==2.2.1
email-validator==1.1.3
et-xmlfile==1.1.0
firebase-admin==5.1.0
Flask==2.0.2
fpdf==1.7.2
google-api-core==2.2.2
google-api-python-client==2.31.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.2.1
google-cloud-firestore==2.3.4
google-cloud-storage==1.43.0
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.53.0
grpcio==1.42.0
grpcio-status==1.42.0
gspread==4.0.1
gunicorn==20.1.0
h11==0.12.0
httplib2==0.20.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.8.0
MarkupSafe==2.0.1
msgpack==1.0.2
oauth2client==4.1.3
oauthlib==3.1.1
openpyxl==3.0.9
outcome==1.1.0
packaging==21.3
Pillow==9.0.1
proto-plus==1.19.8
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==21.0.0
pyparsing==3.0.6
PyPDF2==1.26.0
python-docx==0.8.11
python-dotenv==0.19.2
pytz==2021.3
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
selenium==4.0.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
trio==0.19.0
trio-websocket==0.9.2
uritemplate==4.1.1
urllib3==1.26.7
Werkzeug==2.0.2
wsproto==1.0.0
xmltodict==0.12.0