<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Raymond's Pineapple">
    <title>Carbonic</title>
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple.css') }}?{{ nowid }}">
</head>

<body class="error-page">
    <div class="container">
        <h1 class="error-title">404 Error</h1>
        <h2 class="error-body">The page does not exist.</h2>
        <hr>
        <p><a href="/home" class="home-link">Home</a></p>
    </div>
</body>
</html>
