{%- set site_title = 'Carbonic' -%}
{%- if is_chap or is_asec -%}
{%- set logout_link1 = '<li class="nav-item"><a class="nav-link" href="/logout">Logout <small>('+session['role_name']+')</small></a></li>' -%}
{%- set logout_link2 = '<li class="nav-item"><a class="nav-link" href="/logout">Logout <small>('+session['account']+')</small></a></li>' -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="description" content="Carbonic Uber Hackathon Project">
    <meta name="author" content="Raymond's Pineapple">
    <title>{{ html_title }} | {{ site_title }}</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap4/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap4/fontawesome.min.css') }}">
    {%- if has_code %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/monokai-sublime.min.css') }}">
    {%- endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?{{ nowid }}">
    {%- block inner_css %}{% endblock %}
</head>

<body>
    {%- if is_chap or is_asec %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navbar-main">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#home-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">Carbonic</a>
            <div class="collapse navbar-collapse" id="home-menu">
                <ul class="navbar-nav mr-auto">
                    {%- if is_home != 1 %}
                    <li class="nav-item"><a class="nav-link nav-home" target="_self" href="/home">Home</a></li>
                    {%- endif %}
                    {%- if session['role_name'] in ('user', 'admin') %}
                    {%- block menu %}{% endblock %}
                    {%- endif %}
                </ul>
                <ul class="navbar-nav navbar-nav-last">
                    {%- if session['role_name'] in ('user', 'admin') %}
                    {{ logout_link1|safe }}
                    {%- else %}
                    {{ logout_link2|safe }}
                    {%- endif %}
                </ul>
            </div>
        </div>
    </nav>
    {%- endif %}
    <div class='thetop'></div>
    <div id="home" class="jumbotron {% if jumbotron_class == NONE %}jumbotron-main{% else %}{{ jumbotron_class }}{% endif %}">
        <div class="container">
            <h1>{{ en_title }}</h1>
            <p class="lead">{{ zh_title }}</p>
        </div>
    </div>

    <div class="container">
        <div class='scrolltop'>
            <div class='scroll icon'><i class="fas fa-2x fa-angle-up"></i></div>
        </div>
        {%- if session['role_name'] in ('user', 'admin') or is_user or is_guest %}
        {% block content %}{% endblock %}
        {%- else %}
        <h2 class="text-danger">Restricted Access</h2>
        {%- endif %}
        <hr class="footer-hr">

        <footer>
            <p>&copy; {{ cyear }} {{ site_title }}</p>
        </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- SRI Hash Generator: https://www.srihash.org/ -->
    <script src="{{ url_for('static', filename='bootstrap4/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap4/bootstrap.bundle.min.js') }}"></script>
    <!-- https://github.com/CodeSeven/toastr -->
    <script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
    {%- if has_code %}
    <script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/precode.js') }}?{{ nowid }}"></script>
    {%- endif %}
    <script src="{{ url_for('static', filename='js/shared.js') }}?{{ nowid }}"></script>
    {%- if session['role_name'] in ('user', 'admin') or is_user or is_guest %}
    {%- block inner_js %}{% endblock %}
    {%- endif %}
</body>
</html>
